.homepage {
  font-size: 150px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.button {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol",
    "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  text-align: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.button:hover {
  box-shadow: #5e5df0 0 20px 40px -10px;
}

.button:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: #5e5df0;
  transform: translateX(-50%) translateY(-100%) rotate(45deg);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.button:hover:before {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-block {
  margin: 0 10px;
}

.img-chiellini,
.img-dybala,
.img-ronaldotrasferimento {
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

body {
  background-color: #f5f5f5;
}