doctype html
html
  head
    title=title
    link(rel='stylesheet', type='text/css', href='style/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body
    h1.homepage Homepage
    a.button(href='/profili') Profili